<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MyTeam</h1>
    <div th:each="team : ${myTeamList}">
        <p th:text="${team.id}"></p>
        <p th:text="${team.teamDO}"></p>
        <a th:href="@{/myteam(teamId=${team.id})}"><p th:text="${team.teamDO.name}"></p></a>
        <p th:text="${#temporals.format(team.teamDO.createDate, 'yyyy-MM-dd HH:mm:ss')}"></p>
        <p th:text="${team.role}"></p>
        <p th:text="${team.backNumber}"></p>
    </div>
</body>
</html>