<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/javascript/myTeamDetail.js}"></script>
    <title>Document</title>
</head>
<body>
    <h1>Detail</h1>
    <label for="myTeamDetail_select">연도 선택</label>
    <select name="season" id="myTeamDetail_select">
        <option value="2023" selected>2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
    </select>
    <table>
        <thead>
            <th>이름</th>
            <th>번호</th>
            <th>경기수</th>
            <th>타석</th>
            <th>타수</th>
            <th>안타</th>
            <th>홈런</th>
            <th>타점</th>
            <th>볼넷</th>
            <th>삼진</th>
            <th>득점</th>
            <th>도루</th>
        </thead>
        <tbody id="myTeamDetail_tbody">

        </tbody>
    </table>
</body>
</html>