<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${headTitle}"></title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script th:src="@{/javascript/account.js}"></script>
<!--    <script th:src="@{/javascript/authTel.js}"></script>-->
</head>
<body>
    <p>email</p>
        <input type="email" id="account_email" onfocusout="emailCheck(this)">
    <span id="account_emailResult"></span>
    <p>passwords</p>
        <input type="password" id="account_password" onfocusout="showPasswordResult()">
        <input type="password" id="account_c_password" onfocusout="showPasswordResult()">
            <span id="passwordResult" style="color:red"></span>
    <p>name</p>
        <input type="text" id="account_name" oninput="nameHangul(this)">
    <p>birth</p>
        <input type="date" id="account_birth">
    <p>phone</p>
        <input type="tel" id="account_tel" oninput="addTelHyphen(this)">
    <button type="button" onclick="messageSend()">휴대폰 인증</button>
        <input type="number" id="account_telAuth" >
    <button type="button" onclick="checkCode()">인증</button>
    <span id="account_telAuthResult"></span>
    <p></p>
    <button type="button" onclick="registerButton()">확인</button>
</body>
</html>