<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/javascript/account.js"></script>
    <script>
        console.log(sessionStorage.getItem('email'));
        function changeComplete(){
            var sendData = {
                email : sessionStorage.getItem('email'),
                password:document.querySelector('#account_password').value
            }

            axios.put(`/account/api/change-pw`, sendData)
                .then(response => {
                        console.log(response.data);
                        if(response.data > 0){
                            alert('비밀번호 변경이 완료되었습니다.');
                            window.location.href='/login';
                        }else{
                            alert('비밀번호 변경이 이뤄지지 못했습니다. 다시 시도해주세요');
                        }
                    }).catch(error => {
                        console.error(error);
            });
        }
    </script>
    <title>Document</title>
</head>
<body>
    <p>passwords</p>
        <input type="password" id="account_password" onfocusout="showPasswordResult()">
        <input type="password" id="account_c_password" onfocusout="showPasswordResult()">
        <span id="passwordResult" style="color:red"></span>
    <button type="button" onclick="changeComplete()">완료</button>
</body>
</html>